@model ServerPortal.Models.File

@{
    ViewBag.Title = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Files</h2>

<fieldset>
    <legend>File Info</legend>
    <div class="display-label">File Name: @Html.DisplayFor(model => model.Name)</div>
    <div class="display-label">Path: @Html.DisplayFor(model => model.Path)</div>
    <div class="display-label">Date Created: @Html.DisplayFor(model => model.DateCreated)</div>
    <div class="display-label">Date Modified: @Html.DisplayFor(model => model.DateMod)</div>
    <div class="display-label">File Size: @Model.Size.FormatSize()</div>
    <br />
    <div class="">@Html.ActionLink("Download File", "DLFile", new { DlPath = Model.DlPath })</div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Dir", new { DirPath = Model.Path})
</p>
